a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,iframe,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{
    font-family: Courier New;
}
h1 {
    font-size: 25px;
}
h1 > a {
    text-decoration: none;
}

a:visited {
    color:#191970;
}
a:active,a:focus,a:hover{
    color:#191970;
}
.btn-default, .btn-default:hover, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    border-color: #000;
}
.dropdown-menu {
    border-color: #000;
}
.dropdown-menu li a {
    text-decoration: none;
}
.container { 
	padding-left: 20px;
	padding-right: 20px;
}
.btn-sub-menu {
    float: left;
    min-width: 160px;
    margin: 0 0 0 2em;
    list-style: none outside none;
    font-size: 14px;
    text-align: left;
}
.btn-sub-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}
.btn-sub-menu > li > a:hover, .btn-sub-menu > li > a:focus {
    background: #f5f5f5;
}

.btn {
	border-radius: 0;
}
.dropdown-menu {
	border-radius: 0;
}
#masthead {
	margin: 10px 0 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #fff;
}
#content {
    padding-top: 40px;
}
footer {
    margin-bottom: 20px;
}
.site-branding, #site-navigation {
    display: inline-block;
}
.site-title {
	margin-bottom: 20px;
}
.inline-menu {
    
}
.inline-menu a{
    display: inline-block;
    color: #03c;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    color: #000;
}
 
.inline-menu a:hover {
    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
}
.inline-menu li > ul {
    margin: 0;
}
.inline-menu > li, .inline-menu .sub-menu > li {
    display: inline;
}
.inline-menu .sub-menu {
    display: inline;
}
.inline-menu .sub-menu > li {
    font-size:80%;
}

//masonry styles
.item-6 {
    width: 15%;
}
.item-6.large{
    width: 31%;
}
.item-5 {
    width: 19%;
}
.item-5.large{
    width: 38%;
}
.item-4 {
    width: 24%;
}
.item-4.large {
    width: 49%; 
}
.item-3 {
    width: 32%;
}
.item-3.large {
    width: 64%;
}
.item-2 {
    width: 49%;
}
.item-1 {
    width: 99%;
}
.item > .loading {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(255,255,255,0.7) url(http://i.imgur.com/ocFwBZZ.gif) center center no-repeat;;
}
.item > img {
    width: 100% !important;
    height: auto;
}


.item:hover{ cursor:pointer }

.attachment-container {
    padding: 40px 0 40px 0;
    text-align: center;
    position: relative;
}
.attachment {
    margin: auto;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}

.attachment img {
    margin-bottom: 20px;
}
.flipbook-viewport .flipcontainer{
    width: 100%;
}

.flipbook-viewport{
    overflow:hidden;
    width:100%;
    height:100%;
}

.flipbook-viewport .flipbook{
    width: 100%;
    height:500px;
}

.flipbook-viewport .page{
    background-color:white;
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.flipbook {
    margin: 0 auto !important;
}
.flipbook .page{
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:0;
}
.flipbook-viewport .shadow{
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;

    -webkit-box-shadow:0 0 20px #ccc;
    -moz-box-shadow:0 0 20px #ccc;
    -o-box-shadow:0 0 20px #ccc;
    -ms-box-shadow:0 0 20px #ccc;
    box-shadow:0 0 20px #ccc;
}

.flipbook-viewport .double{
    background-size:100% 100%;
}

.bxslider {
    margin: 0;
}
.bx-wrapper > .bx-viewport {
    border: none;
}
.bx-wrapper .bx-controls-direction a {
    width:154px !important;
    height:124px !important;
    z-index: -1 !important;
}
.bx-prev .bx-next {
    width:61px;
    height:48px;
    cursor: pointer;
}
.bx-prev {
    background-image: url(images/leftarrow.gif) !important;
    background-position: 0 0 !important;
    left: -144px !important;
}
.bx-next {
    background-image: url(images/rightarrow.gif) !important;
    background-position: 0 0 !important;
    right: -136px !important;
}